language:
  - python
  - node_js

sudo: false

# Make sure the plugin works in the two most recent python versions
python:
  - "2.7"
  - "3.3"

install:
  - npm install -g grunt-cli
  - npm run-script devsetup
  - npm install

script: ./test/run_tests.sh

notifications:
  email: false
